@import '../colors';

.Equipment-container {
  height: 100%;

  // ** Not sure these are needed now **
  // ul {
  //   padding-left: 0;
  //   display: flex;
  //   flex-flow: row wrap;
  // }

  // rux-tabs {
  //   height: 2.5rem;
  // }

  // h2 {
  //   background-color: $darkest_blue;
  //   padding: 1.25rem;
  //   margin-top: 0;
  // }

  // h3 {
  //   margin: 0;
  // }
  // ** end **

  &__tab-panels {
    padding-top: var(--spacing-6);
    height: calc(100% - 4rem);
  }

  &__tab-inoperable {
    background-color: $dark_blue;
    height: 100%;
  }

  &__equipment-inoperable {
    height: 100%;

    &::part(container) {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    &::part(body) {
      flex-grow: 1;
      overflow: auto;
    }

    rux-monitoring-icon {
      cursor: pointer;
    }
  }

  &__equipment-list {
    display: flex;
    flex-flow: row wrap;

    li {
      border-bottom: none;
      padding: var(--spacing-4);
      // ** don't think these are needed **
      // list-style: none;
      // justify-content: space-evenly;
      // text-align: center;
      // position: relative;
    }
  }
}

#tab-set-id-1 {
  height: 3.75rem;
}

// this sets cursor pointer for the entire app
// not sure this is the spot for that if that's
// the desired result
// rux-icon {
//   cursor: pointer;
// }

.critical {
  color: $critical;
}

.serious {
  color: $serious;
}
