@import '../colors';

.Equipment-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);

  &__tab-panels {
    height: calc(100% - 4.625rem);
    display: flex;
    flex-direction: column;
  }

  &__tab-inoperable {
    height: 100%;
  }

  &__equipment-inoperable {
    height: 100%;

    &::part(container) {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    &::part(body) {
      flex-grow: 1;
      overflow: auto;
    }
  }

  &__equipment-list {
    display: flex;
    flex-flow: row wrap;

    li {
      border-bottom: none;
      padding: var(--spacing-4);
    }
  }

  &__equipment-details {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
  }
}

#tab-set-id-1 {
  height: 3.75rem;
}

.critical {
  color: $critical;
}

.serious {
  color: $serious;
}
