@import '../colors';

.MaintenanceJobView {
  &__jobCardsContainer {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 25rem);
    grid-gap: 3rem;
    padding: 1.5rem;
  }

  &__cardDetails {
    padding: 0 0.5rem 0.5rem 0.5rem;
  }

  &__cardButtons {
    padding: 0;
  }

  &__job-card {
    box-shadow: var(--container-color-border) 0 0 0 0.2px;
    background-color: var(--color-background-surface-header);
  }

  &__schedule-button {
    padding: 1.5rem;
  }
}
