@import '../colors';

.MaintenanceJobView {
  &__jobCardsContainer {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 25rem);
    grid-gap: 3rem;
    padding-left: 1.5rem;
  }

  &__cardDetails {
    padding: 0.5rem;
  }

  &__job-card {
    box-shadow: var(--container-color-border) 0 0 0 0.5px;
  }

  &__schedule-button {
    padding: 1.5rem;
  }
}

.job-card .rux-button {
  margin: 1.5rem auto 0.5rem;
}
