.Job-Detail-grid {
  display: grid;
  grid-template-columns: 35% 65%;
  padding: var(--spacing-4) var(--spacing-6);
  gap: var(--spacing-3);
  grid-template-areas: 'left-panel right-panel';

  &__left-panel {
    grid-area: left-panel;
    max-height: calc(100vh - 10rem);
    background-color: var(--color-background-surface-default);
    box-shadow: var(--container-color-border) 0 0 0 1px;

    rux-input::part(form-field) {
      flex-direction: row;
      align-items: center;
    }
    rux-input::part(label) {
      margin-right: var(--spacing-10);
    }

    rux-textarea::part(form-field) {
      flex-direction: row;
      align-items: center;
    }
    rux-textarea::part(label) {
      margin-right: var(--spacing-10);
    }
  }

  &__right-panel {
    grid-area: right-panel;
    max-height: calc(100vh - 10rem);
    background-color: var(--color-background-surface-default);
    box-shadow: var(--container-color-border) 0 0 0 1px;
  }
}

.Job-details {
  &__input {
    padding: 0.5rem;
  }

  &__parent {
    height: 100%;
    overflow: auto;
  }

  &__jobDetails {
    margin: 1.5rem;
  }
}

.event-log {
  overflow: auto;
  margin-bottom: 1rem;
}

.home-page-link {
  color: rgb(89, 122, 231);
}

.home-page-link:hover {
  color: rgb(143, 164, 235);
}

.rux-icon {
  float: left;
  margin-top: -0.5rem;
}

.follow-checkbox {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.event-log-header {
  margin-bottom: 0.5rem;
}

.progress {
  padding: 1rem 0.25rem;
}
.progress .current {
  fill: var(--color-palette-brightblue-500);
  opacity: 0;
}
.progress .complete {
  fill: var(--color-palette-neutral-000);
  opacity: 0;
}
.progress--step-1 .step1 {
  opacity: 1;
}
.progress--step-2 .step2 {
  opacity: 1;
}
.progress--step-3 .step3 {
  opacity: 1;
}
.progress--step-4 .step4 {
  opacity: 1;
}
.progress--step-5 .step5 {
  opacity: 1;
}
