.Schedule-grid {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-areas: 'left-panel right-panel';
  padding: var(--spacing-4) var(--spacing-6);
  gap: var(--spacing-3);

  &__left-panel {
    grid-area: left-panel;
    max-height: calc(100vh - 10rem);
    background-color: var(--color-background-surface-default);
    box-shadow: var(--container-color-border) 0 0 0 1px;
  }

  &__right-panel {
    grid-area: right-panel;
    max-height: calc(100vh - 10rem);
    background-color: var(--color-background-surface-default);
    box-shadow: var(--container-color-border) 0 0 0 1px;
  }
}

.Schedule-job {
  &__input {
    padding: 0.5rem;
  }

  &__parent {
    height: 100%;
    overflow: auto;
  }

  &__jobDetails {
    margin: 2rem;
  }
}

.home-page-link {
  color: rgb(89, 122, 231);
}

.home-page-link:hover {
  color: rgb(143, 164, 235);
}

rux-input::part(form-field) {
  flex-direction: row;
  align-items: center;
}
rux-input::part(label) {
  margin-right: var(--spacing-10);
}

rux-textarea::part(form-field) {
  flex-direction: row;
  align-items: center;
}
rux-textarea::part(label) {
  margin-right: var(--spacing-10);
}
