.Schedule-job {
  &__input {
    padding: 0.5rem;
  }

  &__path {
    margin: 1.5rem;
  }

  &__parent {
    background-color: var(--color-background-surface-default);
    box-shadow: var(--container-color-border) 0 0 0 1px;
    flex-flow: column;
    display: flex;
    overflow: hidden;
    margin: 1rem;
  }

  &__container {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
  }
}

.home-page-link {
  color: rgb(89, 122, 231);
}

.home-page-link:hover {
  color: rgb(143, 164, 235);
}

.grid-zone--job-details {
  flex: 1 1 40%;
  margin-right: 1rem;
  height: 60vh;
  overflow: auto;
}
