.Schedule-grid {
  display: grid;
  grid-template-columns: minmax(30rem, 2fr) minmax(40rem, 3fr);
  padding: 0 var(--spacing-6) var(--spacing-4);
  gap: var(--spacing-3);
  height: calc(100vh - 10.25rem);

  &__left-panel {
    background-color: var(--color-background-surface-default);
    box-shadow: var(--container-color-border) 0 0 0 1px;

    rux-input::part(form-field) {
      flex-direction: row;
      align-items: center;
    }
    rux-input::part(label) {
      margin-right: var(--spacing-10);
    }

    rux-textarea::part(form-field) {
      flex-direction: row;
      align-items: center;
    }
    rux-textarea::part(label) {
      margin-right: var(--spacing-10);
    }
  }

  &__right-panel {
    background-color: var(--color-background-surface-default);
    box-shadow: var(--container-color-border) 0 0 0 1px;
  }
}

.Schedule-job {
  &__input {
    padding: 0.5rem;
  }

  &__parent {
    height: 100%;
    overflow: auto;
  }

  &__jobDetails {
    margin: 1.5rem;
  }

  &__section-header {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

.path-above-grid {
  margin: 1rem;
}

.home-page-link {
  color: var(--color-palette-brightblue-500);
}

.home-page-link:hover {
  color: var(--color-palette-brightblue-300);
}
