.status-indicators {
  white-space: nowrap;
}

.status-indicators__indicator {
  width: 6.75rem;
  margin: 0 auto;
  padding: 0 0.625rem;
}

rux-global-status-bar {
  height: 7.5rem;
}

rux-global-status-bar::part(container) {
  padding-top: 1.25rem;
}

.global-status-menu-icon {
  cursor: pointer;
}
