.status-indicators {
  white-space: nowrap;
}

.status-indicators__indicator {
  width: 6.75rem;
  margin: 0 auto;
  padding: 0 0.625rem;
}

.global-status-menu-icon {
  cursor: pointer;
  padding-bottom: 1.75rem;
}
