.Equipment-details-grid {
  overflow: hidden;
  display: grid;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-columns: minmax(30%, 600px) auto;
  grid-template-rows: fit-content(100%) 500px;
  grid-template-areas: 'eqd-left eqd-right';

  &__left {
    grid-area: eqd-left;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    overflow: auto;
  }

  &__right {
    grid-area: eqd-right;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    overflow: auto;
  }

  .rux-select::part(select) {
    padding-right: 3rem;
    width: fit-content;
  }
}
