.Equipment-contacts {
  &__header-container {
    background-color: var(--color-palette-brightblue-850);
  }

  &__header-title {
    padding-top: 0.625rem;
    padding-left: 0.9375rem;
    font-size: 1.35rem;
    font-weight: 300;
  }

  &__main-header {
    display: flex;
    padding: 1rem;
  }

  &__summary {
    flex: 0 1 8rem;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
  }

  &__summary-failed {
    color: var(--colorSerious, rgb(255, 176, 0));
  }

  &__name,
  &__ground,
  &__equipment,
  &__state,
  &__timestamp {
    flex: 0 0 20%;
    text-align: left;
    padding: 0 0.7rem;
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__name {
    flex: 1 1 3rem;
  }
  &__ground {
    flex: 1 1 2rem;
  }
  &__equipment {
    flex: 6 6 7rem;
  }
  &__state {
    flex: 4 5 7rem;
    text-transform: capitalize;
  }
  &__timestamp {
    flex: 0 0 11rem;
  }

  &__count {
    font-size: 2.75rem;
    line-height: 2.6rem;
    font-weight: 600;
  }

  &__filters {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
  }

  &__filter {
    margin: 0 0.5rem;

    .rux-select {
      padding-right: 2rem;
      line-height: 1.5rem;
    }

    label {
      font-weight: bold;
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
      display: block;
    }
  }

  &__events-container {
    padding: 0;
    margin: 0;
    height: 10rem;
    overflow: auto;
    background-color: var(--color-palette-brightblue-850);
  }

  &__event {
    display: flex;
    align-content: flex-start;
    flex-shrink: 0;
    align-items: flex-start;
    padding: 0.5rem;
  }

  &__state--serious {
    font-weight: bold;
    color: var(--colorSerious, rgb(255, 176, 0));
  }

  &__log {
    display: flex;
    flex-flow: column;
    font-size: 0.9rem;
    overflow: hidden;
    flex-grow: 1;
  }

  &__log-header {
    position: relative;
    box-shadow: 0 0.5rem 1.25rem var(--color-background-base-default);
    background-color: var(--color-background-surface-default);
  }

  &__log-header-labels {
    display: flex;
    color: var(--color-palette-grey-100);
    padding: 0.5rem;
  }

  &__expanded-detail {
    overflow: hidden;
    height: 0;
    background: var(--color-background-base-default);
  }

  &__expanded-detail-command-mode {
    flex: auto;

    label {
      font-weight: bold;
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
      display: block;
    }

    .rux-select {
      padding-right: 2rem;
      line-height: 1.5rem;
    }
  }

  &__expanded-log + &__expanded-detail {
    height: auto;
    padding: 2rem 1rem 2rem 2.5rem;
    display: flex;
    flex-flow: row nowrap;
  }
}
