.Equipment-header {
  width: 100%;

  &__parent {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 30% 50%;
    gap: var(--spacing-2);
  }

  &__buttons-container {
    padding: 0.625rem 0.9375rem;
    max-width: 20rem;
    max-height: 5.5rem;
    overflow: auto;
  }

  &__description-container {
    padding: 0.625rem 0.9375rem;
  }

  &__events-container {
    padding: 0.625rem 0.9375rem;
    height: 17rem;
  }

  &__event-log {
    overflow: auto;
    color: var(--color-palette-grey-500);
    height: 80%;
  }

  &__description-label {
    font-size: var(--font-size-base);
    color: var(--color-palette-grey-500);
    margin-bottom: 0.5rem;
  }

  &__equipment-name {
    padding: 0.625rem 0.9375rem;
    font-size: var(--font-size-2xl);
    font-weight: var(--font-control-body-1-font-weight);
    margin-bottom: 1rem;
    background-color: var(--color-background-surface-header);

    rux-status {
      display: inline-block;
      margin-left: 0;
      margin-right: 0.5rem;
    }
  }
}
