.Equipment-alerts {
  overflow: hidden;

  &__header-container {
    background-color: var(--color-background-surface-header);
  }

  &__header-title {
    padding-top: 0.625rem;
    padding-left: 0.9375rem;
    font-size: var(--font-size-2xl);
    font-weight: var(--font-control-body-1-font-weight);
  }

  &__main-header {
    display: flex;
    padding: 1rem;
  }

  &__summary {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
  }

  &__count {
    font-size: var(--font-size-5xl);
    line-height: 2.6rem;
    font-weight: var(--font-control-body-1-bold-font-weight);
  }

  &__filters {
    display: flex;
    flex-flow: row nowrap;
  }

  &__filter {
    margin: 0 0.5rem;

    .rux-select {
      line-height: 1.5rem;
    }

    label {
      font-weight: var(--font-control-body-1-bold-font-weight);
      font-size: var(--font-size-base);
      margin-bottom: 0.5rem;
      display: block;
    }
  }

  &__log {
    font-size: var(--font-size-base);
  }

  &__log-header {
    display: flex;
    position: relative;
    box-shadow: 0 0.5rem 1.25rem var(--color-background-base-default);
  }

  &__log-header-labels {
    display: flex;
    flex-grow: 1;
    color: var(--color-palette-grey-100);
    padding: 0.5rem 1.75rem 0.5rem 0.25rem;
  }

  &__log-status {
    text-align: center;
    align-self: center;
    flex: 0 0 2rem;
    padding-left: 0.5rem;
    overflow: hidden;

    rux-status {
      margin-left: 0;
    }
  }

  &__log-message {
    flex: 1 0 8rem;
    padding: 0 0.7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__log-category {
    flex: 0 1 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__log-timestamp {
    width: 4.5rem;
    padding-left: 0.7rem;
  }

  &__select-alert {
    text-align: center;
    width: 5rem;

    .rux-checkbox {
      display: inline-flex;
      margin: 0.25rem;
      width: 1.4rem;
    }
  }

  &__log-actions {
    display: flex;
    flex: none;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    margin-top: auto;
    z-index: 1;

    .rux-button {
      margin: 0.25rem;
      min-width: 5rem;
    }
  }

  &__events-container {
    padding: 0;
    margin: 0;
    background-color: var(--color-background-surface-default);
    border: 1px solid var(--color-background-base-default);
    height: 10rem;
    overflow: auto;
  }
}
