.Dashboard-grid {
  display: grid;
  // Screen height minus the height of the Global Status Bar
  height: calc(100vh - 6rem);
  grid-template-columns: 18rem 1fr;
<<<<<<< Updated upstream
=======
  gap: var(--spacing-3);
  padding: var(--spacing-4) var(--spacing-6);
>>>>>>> Stashed changes

  &__left-panel {
    background-color: var(--color-background-surface-default);
    box-shadow: var(--container-color-border) 0 0 0 1px;
  }

  &__right-panel {
    height: 100%;
    overflow: auto;
    background-color: var(--color-background-surface-default);
    box-shadow: var(--container-color-border) 0 0 0 1px;
  }
}
