@import 'colors';
$font-stack: "Roboto";

body {
  font-family: $font-stack;
}

main {
  display: flex;
  flex-direction: row;
}

.main-menu {
  flex: 2;
  background-color: $dark_blue;
  padding: 15px;
}

.equipment-container {
  flex: 10;
  background-color: $blue_grey;
  padding: 15px;
}