@import 'colors';

main {
  display: flex;
  flex-direction: row;
}

.main-menu {
  flex: 2;
  background-color: $dark_blue;
  min-width: 15rem;

  rux-status {
    margin-left: -1rem;
  }
}

.display-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
