$dark_blue: #1d2f41;
$blue_grey: rgb(40, 63, 88);

main {
  display: flex;
  flex-direction: row;
}

.mainMenu {
  flex: 2;
  background-color: $dark_blue;
  padding: 15px;
}

.EquipmentContainer {
  flex: 10;
  background-color: $blue_grey;
  padding: 15px;
}